<center><h1>
<%=firstname.capitalize%> <%=lastname.capitalize%>, here are the teams you have selected.<br>

<%=final%>
</h1></center>




<center>
<h1><form method="post" action="finalcut">
	
	<input type="submit" value="redo">
</form></h1>
</center>

<body id= "bacon">
</body>