<html>
	<head>
		<link rel= "stylesheet" href = "css/style.css">
	<header class= "color size"> Pair Generator
		<ul>
			<li><a href = '/'> Name</a></li>
			<li><a href = '/randnames'> Pairing</a></li>
			<li><a href = '/results'> Results</a></li>
		</ul>
	</header>
	</head>

	<body class= "center">
		<%=yield%>
	
	</body> 


	<footer>
		<a href = 'http://www.minedminds.org' target = "_blank">MinedMinds Website</a>
	</footer>
</html>