<center>
	<h1><%=message%></h1><br>
	<h1>Please enter username and password</h1>
</center>
<body id= "bravo">
</body>

<center>
<form method="post" action="login">
	<input type="text" name="username" placeholder= "Username" required>
	<input type="password" name="password" placeholder= "Password" required>
	<input type="submit" value="Login!">
</form>
</center>


	