<center>
<h2><%=success%></h2>
<p>please enter your first and last name</p>

<form method="post" action="names">
	<input type="text" name="firstname" placeholder="Enter your first name here." required>
	<input type="text" name="lastname" placeholder="Enter your last name here." required>
	<input type="submit" value="Submit Names">
</form>
</center>