<center>
<h2><%=success%>
<p>Please enter your first and last name.</p></h2>

<body id= "tribaldragon">
</body>

<form method="post" action="names">
	<input type="text" name="firstname" placeholder="First name." required>
	<input type="text" name="lastname" placeholder="Last name." required>
	<input type="submit" value="Submit Names">
</form>
</center>