<center><h1> How many names would you like to pair?</h1>

<form method = "post" action = "randnames" id = "text_box">
	<button onclick="newbox()">New Box</button>
    <button onclick="deletebox()">Remove</button>
    <input type ="number" autofocus= "autofocus" id ="myInput" oninput = "myFunction()" >
    <p id = "demo"></p>
    <input type = "submit">
    
</form></center>
<body id= "duhragon">

</body>
 
<script>

function myFunction() {
	var x = document.getElementById("myInput").value;
    document.getElementById("demo").innerHTML = "Enter their names in the boxes below:<br>";
    for (var i = 1; i <= x; i++) {
    var input = document.createElement("input");
        input.type = "text";
        input.name = "text" + i;
        input.id = "jo";
        input.required = true;
        input.placeholder = "Enter Name"
        document.getElementById("demo").appendChild(input).value;

        }
    }
    function newbox(){
        var box = document.createElement("input");
        var input = document.createElement("input");
        input.type = "text";
        input.name = "input[]";
        input.id = "jo";
        input.required = true;
        input.placeholder = "Enter Name"
        document.getElementById("demo").appendChild(input).value;
    }
    function deletebox(){
        var nobox = document.getElementById("demo");
        nobox.removeChild(nobox.lastChild)
    }
</script>


