<center><h1> How many names would you like to pair?</h1>

<form method = "post" action = "randnames" id = "text_box">
	<button onclick="newbox()">New Box</button>
    <button onclick="deletebox()">Remove</button>
    <input type ="number" autofocus= "autofocus" id ="myInput" oninput = "myFunction()" >
    <p id = "demo"></p>
    <input type = "submit">
    
</form></center>
<body id= "duhragon">

</body>
 
<script src = '/js/javascript.js'>
</script>


