<center><h1>
<%=firstname.capitalize%> <%=lastname.capitalize%>, here is the randomly generated list you requested.<br>
Please select the pairs you think work well together.


</h1></center>




<center>
<h1><form method="post" action="results">
	<%strng.each do |x| %>
		<input type="checkbox" name = "checked[]" value= "<%=x%>"> <%=x%><br>
	<%end%>
	
	<input type="submit" value="Submit">
</form></h1>
</center>

<body id= "bacon">
</body>